#header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 0;
}

#center {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: center;
  flex-grow: 1;

  & > div {
    flex: 1 1 0;
    padding: 32px;
  }
}

#footer {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 10px 20px;
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }
}

#footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#docs {
  border-right: 1px solid var(--border);
}

#docs1 {
  border-right: 1px solid var(--border);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#docs1 button {
  width: 80px;
  height: 80px;
  padding: 0;
  box-sizing: border-box;
  font-size: 32px;
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}

.filter {
  margin-bottom: 16px;
}

.elements-list {
  height: 400px;
  overflow-y: auto;
  margin-top: 16px;
  border: 1px solid var(--border);
  text-align: left;
}

.elements-list1 {
  height: 434px;
  overflow-y: auto;
  margin-top: 16px;
  border: 1px solid var(--border);
  text-align: left;
}

.element-row {
  cursor: pointer;
}

.element-row {
  padding: 10px 16px;
  border-bottom: 1px solid var(--border);
}

.element-row.selected {
  background: var(--accent-bg);
  outline: 1px solid var(--accent);
  outline-offset: -1px;
}
